#-*- coding: utf-8 -*-
{% extends "app/layout.html"%}
{% block content %}
<div class="jumbotron">
      <h1>Inscritos</h1>
</div>
<table class="table">
   <tr><th>
         <p><font size="2" face="Verdana">
                  Nome Completo</th></tr>
         </font></p>
      {% for nome in inscritos %}
   <tr><td>
         <p><font size="2" face="Verdana">
                        {{ inscritos.nome }}
                  </font></p>
            </td></tr>
      {% endfor %}
</table>

{% endblock %}

